language: ruby
matrix:
  include:
    - rvm: 2.3.1
      env: REDMINE_VERSION=3.3.0
    - rvm: 2.2.5
      env: REDMINE_VERSION=3.3.0
    - rvm: 2.1.9
      env: REDMINE_VERSION=3.3.0
    - rvm: 2.3.1
      env: REDMINE_VERSION=3.2.3
    - rvm: 2.2.5
      env: REDMINE_VERSION=3.2.3
    - rvm: 2.1.9
      env: REDMINE_VERSION=3.2.3
    - rvm: 2.2.5
      env: REDMINE_VERSION=3.1.6
    - rvm: 2.1.9
      env: REDMINE_VERSION=3.1.6
    - rvm: 2.0.0
      env: REDMINE_VERSION=3.1.6
    - rvm: 2.1.9
      env: REDMINE_VERSION=3.0.7
    - rvm: 2.0.0
      env: REDMINE_VERSION=3.0.7
before_install: bash -x bin/travisci_before_install.sh
before_script: bash -x bin/travisci_before_script.sh
script: bash -x bin/travisci_exec_test.sh
