<p>
<% 5.step(1, -1) do |item_value| %>
  <%= label_tag("settings[scheduling_vote_value_#{item_value}]", l(:label_settings_scheduling_vote_value, :num => item_value)) %>
  <%= text_field_tag("settings[scheduling_vote_value_#{item_value}]", @settings["scheduling_vote_value_#{item_value}"], :placeholder => l(:label_disabled))%>
  <br />
<% end %>
</p>
